* {
    margin: 0;
    padding: 0;
    font-family: ' Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    /* background-color: linear-gradients( to right, #f9f5f0, #fcefe8); */
    background-color: black;
    position: relative;
    color: beige;

}

.bg {

    width: 100%;
    height: 100vh;
    background-image: url(img/portfolio-removebg-preview\ \(1\).png);
    /* width: 50%; */
    background-repeat: no-repeat;
    background-position: right;
    /* moves image to the right */
    background-size: contain;
    /* property of size */

}

.container {
    padding: 10px 10%;

    /* display: flex; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    margin-left: -81px;
    /* padding:2px; */
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    /* color: beige; */
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(177, 35, 35);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.data {
    margin-top: 20%;
    font-size: 30px;


}

.data h1 {
    font-size: 60px;
    margin-top: 20px;
}

.data h1 span {
    color: rgb(122, 10, 10);
}

/* about section */


#about {
    padding: 80px 0;
    color: beige;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1 {
    flex-basis: 35%;
    /* width of the colum */
    margin-left: 30px;
}

.col1 img {
    width: 100%;
    border-radius: 15px;
}

.col2 {
    margin-top: 40px;
    flex-basis: 60%;
}

.data2 {
    font-size: 60px;
    font-weight: 600;
    color: bisque;
}

.data2-1 {
    display: flex;
    margin: 20px 0 40px;
    /* margin from to 20px ,0 left and right ,40px from the bottom */
}

.data-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.data-link:: after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(20, 188, 93);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.data-links.2nd-link::after {
    width: 50%;
}

.data2-2 ul li {
    list-style: none;
    margin: 10px 0;
}

.data2-2 ul li span {
    color: rgb(92, 7, 7);
    font-size: 14px;
}

.data2-2 {
    display: none;
    /* it will be hide a tab content */
}

.data2-2.current {
    display: block;
}


/*  ---------- services  ------------          */
#services {
    margin: 30px;
    padding: 30px 0;
    /* 30px fron top and btn left right 0 */
}

.data3-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.data3-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s ;
}

.data3-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.data3-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.data3-list div:hover{
    background: #50031b;
    transform: translateX(-10px);
    /* it will move the box right 10px */

}
/*------------ portfolio---------------- */
#portfolio{
    margin-left: 30px;
    margin-top: 30px;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
   
}
.work img{
    width: 100%;
    border-radius: 20px;
    display: block;
    transition: transform 0.5s;
    
} 
.layer{
    width: 100%;
    /* height:100% ; */
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#420116);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s ;

} 
.layer h3{
    font-weight:500 ;
    margin-bottom: 20px;
}
.work:hover img{
    transform: scale(1.1);
    /* it is x axis and y axis heght width */

}
.work:hover .layer{
    height: 100%;
}